<div class="dialog">

<h1>Nueva Mercancia</h1>

  <mat-form-field appearance="fill">
    <mat-label>Nombre del producto</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cantidad</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha de ingreso</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Usuario</mat-label>
    <input matInput>
  </mat-form-field>

  <div mat-dialog-actions>
    <div class="button-save-wrapper" >
      <button  mat-icon-button color="primary"  class="button-save" aria-label="Example icon button with a delete icon">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>

</div>
