<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
</p>

<div class="container">
  <table mat-table [dataSource]="mercancias" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre producto </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre_producto}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="fechaingreso">
      <th mat-header-cell *matHeaderCellDef> Fecha de ingreso </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_ingreso}} </td>
    </ng-container>

         <!-- Symbol Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">

        <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>edit</mat-icon>
        </button>

        <button (click)="delete(element.id)" mat-icon-button color="warn" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>

      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button (click)="create()" mat-fab color="accent"  class="button-add" aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
  </button>

</div>
